<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.zufang.mapper.SysMenuMapper">

    <delete id="deleteAllById">
        delete FROM sys_menu where parent_id = #{id};
        delete FROM sys_menu where id = #{id};
    </delete>

    <select id="selectTree" resultType="map">
        select t.name,t.id,t.parent_id,(CASE WHEN t1.id>0 THEN 1 ELSE 0 END) checked,1 'open' from sys_menu t LEFT JOIN sys_role_menu t1 on t.id = t1.menu_id AND t1.role_id = #{roleId};
    </select>

</mapper>