<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liang.zufang.mapper.SysRoleMapper">
    <select id="selectTreeByUserId" resultType="map">
         SELECT t.id,t.`name`,CASE WHEN t1.user_id > 0  THEN 1  ELSE 0 END  checked,'/zufang/images/role.png' icon  from  sys_role t
         LEFT JOIN sys_user_role t1 on t.id=t1.role_id and t1.user_id= #{userId}
    </select>
</mapper>